.formationChooserContainer {
  display: flex; /* Ensure this is a flex container */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 10%;
  border: 1px solid red;
}

label {
  margin-right: 10px;
  font-size: 1.5em;
}

.formationDropdown {
  padding: 5px;
  font-size: 1.5em;
}
